#sessions_wrapper 
{
    padding:10px;
}

#sessions_wrapper > *
{
    display:inline-block;
    margin: 7px 5px;    
}

.session_box 
{    
    height:220px;
    width:150px;
    padding:10px;
    background:gray;
    text-align:center;
    border-radius : 3px;
    background:#404040;
    box-shadow : 0px 0px 4px #2D2D2D;   
    position:relative;
}

.session_btn 
{
    height:100%;
    width:100%;
    position:absolute;   
    margin:-10px;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    cursor:pointer;
}

.session_box:hover
{
    background:#4B4B4B;    
}

.session_icon 
{
    border:1px solid black;
    height:70%;
    width:100%;
}

.session_info 
{
    color:gray;
    font-size:13px;
    margin-top:10px;
}

.session_info p:first-child 
{
    /*font-weight:bold; */
    font-size:15px;  
    color:lightgray;
    margin-bottom: 2px;
}

.session_info p:last-child 
{
    font-size: 12px;   
}

#images_wrapper
{
    padding-left:3px;
    margin-bottom:10px;
    height:620px;
}

#images_info 
{
    background:#232323;
    margin:8px;
    padding : 8px;
    border-radius:3px;
    position:relative;
    overflow:auto;
    height: 40px;
}

#images_info > p
{
    color:gray;
    font-size:15px;
}

#images_info #ContentPlaceHolder1_session_title
{
    color:lightgray !important;    
}

#images_info #ContentPlaceHolder1_session_desc
{
    font-size:13px;
}


#images_info #ContentPlaceHolder1_session_date
{
    font-size:10px;
}

#back2Session 
{
    padding: 8px 25px;
    position: absolute;
    right: 15px;
    top:10px;
    border-radius : 3px;
    border: 1px inset black;
    background:#393939;
    font-size: 15px;
    text-decoration:none;
    color:Gray;
}

.session_image 
{
    margin:5px 3px;
    display:inline-block;
    height:180px;
    width:230px;
    border:1px solid #317B5A;    
}

.session_image:hover 
{
    border:1px solid #C6C6C6; 
    cursor:pointer;
    box-shadow : 0px 0px 10px black;   
}

.session_image img 
{
    height:100%;
    width:100%;
}

.mCustomScrollBox
{
    width: 980px;
    max-width:980px !important;   
}

.mCSB_container 
{
    width: 967px !important;
}