<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBCS" 
         connectionString="Server=5ac08031-28fc-4b87-9562-a14f003a6d0b.sqlserver.sequelizer.com;Database=db5ac0803128fc4b879562a14f003a6d0b;User ID=fnnbbagnoyvocbze;Password=LMgSreXyRv672MzKzAMzzqZqRJqbXbcPxa2XYy8iRgtPerN5FohLxCSuUXbPWWJP;"
         providerName="system.data.sqlclient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="100" maxRequestLength="10240"/>
    <customErrors mode="Off"/>    
  </system.web>
  
</configuration>