<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="data source=.;initial catalog=photography;integrated security=SSPI" providerName="system.data.sqlclient"/>
  </connectionStrings>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="homepage.aspx"/>
      </files>
    </defaultDocument>    
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="100" maxRequestLength="10240"/>
    <customErrors mode="Off"/>
  </system.web>
  
</configuration>